<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Inventario</title>
<link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Examen T2</a>

		<!-- Toggler/Collapse Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/producto/}">Mantenedor
						Apellido</a></li>
			</ul>
		</div>
	</nav>
	<div class="container mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class = "text-center"> Editar Inventario</h1>
                    <div class="card-body">
                    <form th:action="@{/Inventario/{id} (id=${inventario.nroInventario})}" th:object="${inventario}" method="POST">
                    <!--  <form th:action="@{/cliente/update" th:object="${cliente}" method="POST">-->
                        <div class="form-group">
                            <label># inventario</label>
                            <input type="text" name="nroInventario" th:field="*{nroInventario}"
                                   class="form-control"
                                   placeholder="Ingresa nro de Inventario" />
                        </div>
                        
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="text" name="fecha" th:field="*{fecha}"
                                   class="form-control"
                                   placeholder="Ingresa la fecha" />
                        </div>
                        <div class="form-group">
                            <label>Id producto</label>
                            <input type="text" name="idProd" th:field="*{idProd}"
                                   class="form-control"
                                   placeholder="Ingresa Id Producto" />
                        </div>                        
                        <div class="form-group">
                            <label>Costo Ingreso</label>
                            <input type="text" name="costoIngreso" th:field="*{costoIngreso}"
                                   class="form-control"
                                   placeholder="Ingresa costo de Ingreso" />
                        </div> 
                    
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                            
                    </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>